<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
	<head>
		<title> javanoo </title>
		<meta charset="utf-8">
	</head>
	<body>
		<header>
			<h1>javanoo</h1>
			<p><small>matthews offen</small></p>
		</header>
		<nav>
			<ul>
				<li><a href="/">home</a></l>
				<li><a href="/projects">projects</a></li>
				<li><a href="collaborate">collaborate</a></li>
			</ul>
		</nav>
		
		<section id="introduction">
			<p>Hi there!, am matthews, a software developer who likes to tinker around with various technologies.<br>
			Am a holder of Bachelor's degree in management information system from Malawi College of Accountancy and i like<br>
		  building software thats just simple, easy and secure to use.</p>
		  	<a href="/projects">see projects</a>
		  	<p> Apart from software development, i also play the tech support role, were i administer servers, troubleshoot systems,<br>
				manage network infrastructures and hardware maintenance, you know the generic IT stuff. So if you want some help with these, dont<br>
			    Do not hestitate to reach out, you can use my <a id="inner-collab-link" href="/collaborate">collaborate</a> tab on this page.
			</p>
		</section>
		
		<section id="skills">
			<small>Skilled in </small>
			
		</section>
		<footer><small> 2026 &copy; copyright <a href="https://github.com/javanoo"> javanoo </a></small></footer>
	</body>
</html>