<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
	<head>
		<title> matthews offen </title>
		<meta charset="utf-8">
		<link rel="stylesheet" th:href="@{/css/stylesheet.css}"></link>
	</head>
	<body>
		<header>
			<h1>matthews offen</h1>
			<p><small>software developer</small></p>
		</header>
		<nav>
			<ul>
				<li><a href="/" th:id="${aboutLink}">about</a></l>
				<li><a href="/projects" th:id="${projectLink}">projects</a></li>
				<li><a href="mailto:matthewsoffen2@gmail.com">contact</a></li>
			</ul>
		</nav>
		<section id="mainContent" th:switch="${pageMode}">
			<section id="projectsSection" th:case="'projects'">
				<section id="projects" th:each="p: ${projects}">
					<h3 th:text="${p.projectName}"></h3>
					<small th:text="${p.projectType}" style="color: orangered;"></small>
					<p th:text="${p.projectDescription}"></p>
					<a th:href="${p.projectGithubLink}">Github </a>
				</section>	
			</section>
			<section id="homeSection" th:case="*">
				<section id="introduction">
					<h3>> who am i</h3>
					<p style="box-shadow: -.5px .5px .5px rgb(131, 130, 130);"> I am matthews, a software developer focused on backend engineering with a 
						passion of building reliable and well-structured software. while my expertise is in backend 
						development, i can venture into the full stack territory should a project call for it. From 
						designing database schemas, to developing application logic and crafting a simple clean user interface,
						i got it covered.
					</p>
				
					<h3 style="align-self: flex-end;"> what i do <</h3>
					<p style="box-shadow: .5px .5px .5px grey;"> I build backend systems and APIs using java and the spring framework, backed by spring boot and MySQL for 
						data persistence. I also work with Php for structured server side logic on small scale apps. My
						workflow spans tools like Postman for API testing, Draw.io for data modelling, figma for UI/UX development.
						My goal is to keep writing code thats clean, maintainable and built to last. 
					</p>
					<hr>
				</section>
			
				<section id="techStack">
					<h3>Tech Stack </h3>
					<ul>
						<li>Java</li>
						<li>Spring Framework</li>
						<li>PHP</li>
						<li style="background-color: rgb(29, 162, 245);">MySQL</li>
						<li>REST APIs</li>
						<li style="background-color: orange;">Postman</li>
						<li>Github</li>
						<li>Git</li>
						<li>Draw.io</li>
						<li>Figma</li>
						<li style="background-color:rgb(240, 20, 20);">Eclipse/Vscode/IntelliJ IDEA</li>
					</ul>
				</section>
			</section>
		</section>
		<footer>
			<p style="align-self: center;"> 2026 &copy; matthews offen . </p>
			<p style="justify-self: flex-end;">software developer . <a href="mailto:matthewsoffen2@gmail.com"style="color: rgb(1, 177, 53); text-decoration: none;"> open to work</a></p>
		</footer>
	</body>
</html>