<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
	<head>
		<title>javanoo</title>
		<meta charset="utf-8">
	</head>
	<body>
		<header>
			<h1>javanoo</h1>
			<p><small>matthews offen</small></p>
		</header>
		<nav>
			<ul>
				<li><a href="/">home</a></l>
				<li><a href="/projects">projects</a></li>
				<li><a href="collaborate">collaborate</a></li>
			</ul>
		</nav>
		
		<section id="projects">
			<h3>project name</h3>
		</section>
		
		<section id="skills">
			<small>Skilled in </small>
			
		</section>
		<footer><small> 2026 &copy; copyright <a href="https://github.com/javanoo"> javanoo </a></small></footer>
	</body>
</html>