<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
	<head>
		<title>javanoo</title>
		<meta charset="utf-8">
	</head>
	<body>
		<header>
			<h1>javanoo</h1>
			<p><small>matthews offen</small></p>
		</header>
		<nav>
			<ul>
				<li><a href="/">home</a></l>
				<li><a href="/projects">projects</a></li>
				<li><a href="collaborate">collaborate</a></li>
			</ul>
		</nav>
		
		<section id="projectsContainer">
			<section id="projects" th:each="p: ${projects}">
				<h3 th:text="${p.projectName}"></h3>
				<small th:text="${p.projectType}"></small>
				<p th:text="${p.projectDescription}"></p>
				<ul>
					<li th:each="t: ${p.projectTools}">
						<small th:text="${t}"></small>
					</li>
				</ul>
			</section>	
		</section>
		<footer><small> 2026 &copy; copyright <a href="https://github.com/javanoo"> javanoo </a></small></footer>
	</body>
</html>